-
	var
		logo = {
			default: 'logo-default-297x85.png',
			inverse: 'logo-inverse-297x85.png',
			name:    'Medical'
		},

		buyLink = 'https://www.templatemonster.com/landing-page-template/all-in-one-landing-page-lintense/',

		menu = [
			{
				title: 'About',
				link: '#about'
			},
			{
				title: 'Services',
				link: '#services'
			},
			{
				title: 'Reviews',
				link: '#reviews'
			},
			{
				title: 'Location',
				link: '#location'
			}
		],

		menuPopup = [
			{
				title: 'Clinic popup set',
				link:  '#clinic-popup-set'
			},
			{
				title: 'Other popup set',
				link:  '#other-popup-set'
			}
		],

		homePage,
		pageName,
		pageId,
		pageClass,
		pageImage,
		htmlClass,
		breadcrumbs = [];
