// CTA
section.section.section-lg.bg-transparent.text-center
	.container( data-animate!={ class: 'fadeInUp' } )
		h1 Free First-time
			br
			| Consultation
		p.lead Get your free consultation now by scheduling an appointment online.
		a.btn.btn-primary.btn-nuka( href='#' ) Make an appointment
			span.btn-overlay
