extends ../components/base/_skeleton

block variables
	- pageName = 'Clinic popup set';

block page
	include ../components/rd-navbar/_rd-navbar-popup
	include ../components/section/_section-divider
	include ../components/section/_clinic-popup-set
	include ../components/section/_other-popup-sets
	include ../components/footer/_footer-clinic
