extends ../components/base/_skeleton

block variables
	- pageName = 'Lintense';

block page
	include ../components/rd-navbar/_rd-navbar-clinic
	include ../components/section/_landing-clinic-intro
	include ../components/section/_landing-clinic-why-choose-us
	include ../components/section/_landing-clinic-services
	include ../components/section/_landing-clinic-about-us
	include ../components/section/_landing-clinic-testimonials
	include ../components/section/_landing-clinic-cta
	include ../components/footer/_footer-clinic
	include ../components/section/_landing-clinic-map
